*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins;
}
nav {
  background-image: url(img/moore\ 3.png);
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  position: relative;
  padding-top: 0.5rem;
  margin-bottom: 70px;
}
.menu {
  display: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem 1rem;
  animation: slideFadeIn 1s ease-out forwards;
}
span {
  display: flex;
  gap: 0.5rem;
}
.nav-contents,
.nav-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 4rem;
}
.nav-contents a {
  text-decoration: none;
  color: slateblue;
  font-weight: bold;
  font-size: 0.9rem;
}
.nav-contents a:hover {
  color: rgb(23, 15, 71);
  transform: scale(1.05);
  transition-delay: 300ms;
}
.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 4rem;
}

.nav-icons:hover {
  color: rgb(23, 15, 71);
  transition-delay: 300ms;
}

.logo h1,
.nav-contents,
.nav-icons {
  font-size: 1rem;
  cursor: pointer;
  color: slateblue;
}
.nav-icons {
  font-size: 2.5rem;
}
.logo img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.nav-icons button {
  padding: 1rem 2rem;
  border-radius: 50px;
  width: 100%;
  border: none;
  background-color: red;
  background: linear-gradient(90deg, #1cb5e0 0%, #ff0000 100%);
  color: white;
}
.nav-icons button:hover {
  color: rgb(23, 15, 71);
  transition-delay: 300ms;
}
.center-text {
  position: absolute;
  bottom: 0px;
  top: 190px;
  left: 0;
  margin-left: 7rem;
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.center-text a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.center-text a:hover {
  color: rgb(98, 76, 221);
  transition-delay: 300ms;
}
/* card section */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}
.card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  background-color: #f9f9f9;
  border-radius: 20px;
  margin-bottom: 4rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-container img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}
.card-contents button {
  width: 50%;
  height: 30px;
  background-color: slateblue;
  color: #fff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 5px 5px 0px rgb(14, 4, 82);
}
.card-contents button:hover {
  background-color: rgb(14, 4, 82);
  transition-delay: 200ms;
}
.card-info {
  padding: 2rem;
  margin-bottom: 2rem;
  margin: 0;
}
.card-info span {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card-info p {
  text-align: c;
  line-height: 1.6;
  margin: 1rem 0;
  font-size: 0.95rem;
  word-wrap: break-word;
  max-width: 220px;
  color: hsl(0, 100%, 50%);
}
/* footer */
footer {
  background-image: linear-gradient(to right top, #5c0637, #6c295a, #78467d, #7f63a0, #8380c0, #6a82bb, #5582b3, #4681a7, #296277, #1c434a, #142626, #000403);
  margin-bottom: 0;
}

.footer-container-1,
.footer-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.footer-container-1 h1 {
  color: white;
}

.footer-3-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.icon {
  color: white;
}
.input-icon-wrapper input[type="text"] {
  width: 100%;
  padding: 10px 45px 10px 15px; /* right padding for icon space */
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-icon-wrapper .icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
  cursor: pointer;
  font-size: 20px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  background-color: gray;
  color: white;
  padding: 0.3rem;
  border-radius: 50%;
}
.input-icon-wrapper input:focus + .icon {
  transform: translateY(-50%) scale(1.08);
}

.footer-logo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-logo-2 img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.footer-container-1 input {
  width: 30%;
  padding: 0.8rem;
  border-radius: 100px;
  font-size: 0.7rem;
  text-align: start;
  border: none;
  color: gray;
  box-shadow: 0px 5px 5px 0px rgb(14, 4, 82);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-column h3 {
  color: black;
  margin-bottom: 1rem;
}

.footer-column a,
.footer-column h4 {
  color: white;
  text-decoration: none;
}

.footer-column a:hover {
  color: #000;
}

.socials-icon {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.socials-icon ion-icon:hover {
  color: deeppink;
  transform: translateY(-6px);
  transition: all 0.3s ease-in-out;
}
.last-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}
.last-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}
hr {
  border: none;
  border-top: 1px solid black;
}
.last-contents p:hover {
  cursor: pointer;
  color: #000;
  transition-delay: 300ms;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .nav-contents,
  .nav-icons {
    gap: 1rem;
    padding: 0 2rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-contents,
  .nav-icons {
    padding: 0 0rem;
  }
}
/* Responsive design for Tablet screen */
@media screen and (max-width: 768px) {
  .nav-contents {
    display: none;
  }

  nav {
    background-image: url(img/career\ talk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
  }

  .nav-icons ion-icon {
    display: none;
  }
  .menuBtn {
    margin: 0 auto;
  }

  .nav-icons button {
    padding: 0.9rem 2rem;
    border-radius: 50px;
    width: 100%;
  }

  .container {
    background-color: #000;
    margin-top: 0;
  }

  .menuBtn {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: slateblue;
    margin: 0 auto;
  }
  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    z-index: 3;
  }
  .center-text {
    z-index: 2;
    position: relative;
  }
  .menu.close {
    display: none;
  }
  .menu a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
  }
  .menu a:hover {
    color: slateblue;
    font-weight: bold;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 4rem;
  }
  .footer-container-1 {
    margin-bottom: 1rem;
  }
  .footer-container-1 h1 {
    font-size: 1.2rem;
  }
  .input-icon-wrapper input[type="text"] {
    font-size: 0.6rem;
  }
  .input-icon-wrapper .icon {
    padding: 0rem;
  }
  .footer-container-3 {
    gap: 1rem;
  }
  .footer-column h3,
  h4 {
    font-size: 1rem;
    gap: 0.9rem;
  }
  .footer-column p {
    font-size: 0.3rem;
  }
  .last-contents h4 {
    font-size: 0.8rem;
  }
}

/* Responsive design for mobile devices */
@media screen and (max-width: 480px) {
  .nav {
    height: 50vh;
  }
  .center-text {
    bottom: 0;
    top: 100px;
    margin: 0 auto;
  }
  .container {
    padding: 0.3rem 1rem;
  }

  .logo {
    padding: 0;
  }
  .nav-icons button {
    padding: 0.8rem 2rem;
    font-size: 0.7rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 2rem;
  }
  .card-contents {
    margin: 2rem auto;
    justify-content: center;
  }
  .footer-container-1 {
    flex-direction: column;
  }
  .footer-container-1 h1 {
    margin-bottom: 1rem;
  }
  .input-icon-wrapper input[type="text"] {
    text-align: center;
  }
  .footer-container-3 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .footer-logo-2 {
    margin-right: 100px;
    margin-bottom: 1rem;
  }

  .last-contents {
    flex-direction: column;
    gap: 1rem;
  }
}
